main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .background {
    position: absolute;
    border-radius: 20px;
    width: 40%;
    height: 75%;
    background-color: #ffffff22;
    z-index: 10;
    display: flex;
    flex-direction: column;
  }
}
