<main>
  <h1 class="titleAplication">SmartWatch</h1>
  <article>
    <span class="marco">
      <div class="boxHeader">
        <p class="dateCurrent">{{ horaActual }} {{ ampm }}</p>
        <div class="boxBatery">
          <img src="../../assets/iconBattery.svg" />
          <span>48%</span>
        </div>
      </div>
      <div class="container">
        <router-outlet></router-outlet>
        <!-- Componente Home -->
        <!-- Componente Dashboard -->
      </div>
    </span>
  </article>
</main>
