.titleApp {
  font-family: "Noto Sans Javanese", sans-serif;
  background: linear-gradient(#ff7b8d, #ff007c);
  background-clip: text;
  color: transparent;
  text-align: center;
  letter-spacing: -5px;
  font-size: 70px;
  height: 18%;
  margin: 5px auto 5px auto;
}
.boxOptions {
  display: flex;
  flex-direction: column;

  .success {
    &:active {
      background-color: rgb(62, 241, 92);
    }
  }
  .fake {
    &:active {
      background-color: rgb(239, 62, 94);
    }
  }
}

//Order de btns
.firstButton {
  order: 1;
}
.secondButton {
  order: 2;
}
