<section>
  <div class="function">
    <div class="imgContainer">
      <a href="#">
        <img src="../../assets/iconCall.svg" alt="llamada" title="llamada" />
      </a>
    </div>
    <h5>Llamadas</h5>
  </div>
  <div class="function">
    <div class="imgContainer">
      <a href="#">
        <img src="../../assets/iconLigth.svg" alt="linterna" title="linterna" />
      </a>
    </div>
    <h5>Linterna</h5>
  </div>
  <div class="function">
    <div class="imgContainer">
      <a href="#">
        <img
          src="../../assets/iconCrono.svg"
          alt="cronometro"
          title="cronometro"
        />
      </a>
    </div>
    <h5>Cronometro</h5>
  </div>
  <div class="function">
    <div class="imgContainer">
      <a href="#">
        <img src="../../assets/heart.svg" alt="cronometro" title="cronometro" />
      </a>
    </div>
    <h5>Salud</h5>
  </div>
  <div class="function">
    <div class="imgContainer">
      <img
        class="iconTemp"
        src="../../assets/iconTemp.svg"
        alt="iconTemp"
        title="iconTemp"
      />
    </div>
    <h5>Tempetatura</h5>
  </div>
  <div class="function">
    <div class="imgContainer">
      <a href="#" style="justify-content: flex-start">
        <img
          class="iconTemp"
          style="left: 15px"
          src="../../assets/calendary.svg"
          alt="call"
          title="call"
        />
      </a>
    </div>
    <h5>Calendario</h5>
  </div>
  <div class="function">
    <div class="imgContainer">
      <a href="#"
        ><img src="../../assets/iconMusic.svg" alt="call" title="call"
      /></a>
    </div>
    <h5>Musica</h5>
  </div>
  <div class="function">
    <div class="imgContainer">
      <a href="#"
        ><img src="../../assets/config.svg" alt="call" title="call"
      /></a>
    </div>
    <h5>Configuracióm</h5>
  </div>
</section>
